body {
  position: relative;
  background-repeat: repeat, repeat;
  background: url("./images/hex.png") repeat;
  background-size: contain;
  overflow-y: visible;
}

.App {
  padding-top: 0vh;
  text-align: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .App {
    min-height: 100vh;
  }
}

@media screen and (min-width: 1025px) {
  .App {
    padding-top: 20vh;
    min-height: 80vh;
  }
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgb(54, 52, 52);
  color: white;
  height: 25vw;
  min-height: unset;
  z-index: 2;
  transition: 0.7s;
}

@media screen and (min-width: 768px) {
  .App-header {
    height: 23vw;
  }
}

@media screen and (min-width: 1025px) {
  .App-header {
    height: 17vh;
  }
}

@media screen and (min-width: 1025px) {
  .App-header.smaller {
    transform: translateY(-3vh);
  }
}

@media screen and (min-width: 1025px) {
  .App-header.bigger {
    transition: 0.7s;
    box-shadow: 0 1vw 0 rgb(82, 54, 90), 0 2vw 0 rgb(116, 40, 119);
  }
}

.App-header > :first-child > * {
  display: inline-flex;
  align-content: end;
  align-items: flex-end;
}

.App-header span {
  display: inline-flex;
  align-content: flex-end;
  align-items: flex-end;
}

.App-header span:not(:nth-child(1)) > :first-child {
  margin-left: 2vw;
}

.App-header span > :first-child {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.App-header span > :first-child:hover {
  color: rgba(255, 0, 0, 0.76);
  transition: 0.3s;
}

.App-header span {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin: 2vw 1vw;
  height: 5vw;
  font-size: 4vw;
}

@media screen and (min-width: 1025px) {
  .App-header span {
    margin: 1vw;
    display: inline-flex;
    align-items: center;
    height: 2vw;
    font-size: 1.7vw;
  }
}

.dashboard {
  padding-top: 65vw;
}

@media screen and (min-width: 768px) {
  .dashboard {
    padding-top: 55vw;
  }
}

@media screen and (min-width: 1025px) {
  .dashboard {
    padding-top: 15vh;
  }
}

.allButton {
  background: rgb(178, 155, 199) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  border-radius: 1vw;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .allButton {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1025px) {
  .allButton {
    height: 3vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
  }
}

.allButton:active {
  opacity: 0.6;
  transition: 0.3s;
}

.filterAdvices .filterInput {
  background: rgba(210, 194, 223, 0.801) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  border-radius: 1vw;
  transition: 0.3s;
  opacity: 0.6;
  width: 100%;
  border: none;
  padding: 0 0 0 4vw;
  width: calc(100%);
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .filterAdvices .filterInput {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1025px) {
  .filterAdvices .filterInput {
    padding: 0 0 0 1vw;
    height: 3vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    border: none;
    width: 10vw;
  }
}

.filterAdvices .filterInput:focus {
  opacity: 0.8;
  transition: 0.3s;
}

.flex-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
  flex-wrap: wrap;
}

.advice-list {
  list-style: none;
  padding-top: 2vh;
  padding-bottom: 4vw;
  width: 75vw;
}

@media screen and (min-width: 768px) {
  .advice-list {
    width: 85vw;
  }
}

@media screen and (min-width: 1025px) {
  .advice-list {
    padding-left: 14vw;
    width: 75vw;
  }
}

.advice-item {
  margin: 6vw 1vw 9vw 1vw;
}

@media screen and (min-width: 768px) {
  .advice-item {
    margin: 3vw 1vw 5vw 1vw;
  }
}

@media screen and (min-width: 1025px) {
  .advice-item {
    margin: 3vw 1vw 2vw 1vw;
  }
}

.advice-item > :first-child {
  background: rgba(246, 252, 255, 0.993);
  border-radius: 0.7vw;
  padding: 2vw;
  box-shadow: 0.5vw 0.5vw 1vw #888888;
  transition: 0.1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
  margin-bottom: 6vw;
}

@media screen and (min-width: 768px) {
  .advice-item > :first-child {
    margin-bottom: 4vw;
  }
}

@media screen and (min-width: 1025px) {
  .advice-item > :first-child {
    height: unset;
    padding: 1vw;
    margin-bottom: 2vw;
  }
}

.advice-item > :first-child:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.advice-item > :first-child > * {
  flex: 1 100%;
}

.advice-item > :first-child > :nth-child(odd),
.advice-item .likes {
}

@media screen and (min-width: 768px) {
  .advice-item > :first-child > :nth-child(odd),
  .advice-item .likes {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 1025px) {
  .advice-item > :first-child > :nth-child(odd),
  .advice-item .likes {
    font-size: 1.3vw;
  }
}

.advice-item > :first-child > :nth-child(even):not(:nth-child(6)) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  height: 12vw;
  width: 90%;
  background: rgba(221, 218, 218, 0.164);
}

@media screen and (min-width: 768px) {
  .advice-item > :first-child > :nth-child(even):not(:nth-child(6)) {
    height: 12vw;
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 1025px) {
  .advice-item > :first-child > :nth-child(even):not(:nth-child(6)) {
    height: 4vw;
    font-size: 1.3vw;
  }
}

.advice-item .itemName {
  height: 2vw;
}

.advice-item .itemLocation {
  height: 2;
}

.categoriesDiv {
  height: 22vw;
}

@media screen and (min-width: 1025px) {
  .categoriesDiv {
    height: 8vw;
  }
}

.categoriesDiv span {
  background: rgba(221, 218, 218, 0.164);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  height: 2vw;
  padding: 2vw;
  margin: 0 0.2vw;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .categoriesDiv span {
    padding: 1vw;
    margin: 0.5vw;
    height: 5vw;
    width: 15vw;
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1025px) {
  .categoriesDiv span {
    padding: 1vw;
    flex: 1 30%;
    height: 0.5vw;
    height: 0.5vw;
    font-size: 1vw;
    width: unset;
  }
}

.categoriesDiv span:hover {
  background: rgba(168, 53, 53, 0.164);
  transition: 0.3s;
}

.creatorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creatorInfo .imageWrapper {
  width: 10vw;
  height: 10vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .creatorInfo .imageWrapper {
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (min-width: 1025px) {
  .creatorInfo .imageWrapper {
    width: 2vw;
    height: 2vw;
  }
}

.creatorInfo img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.advice-item i {
  cursor: pointer;
  transform: scale(1.5);
  font-weight: 900;
  transition: 0.1s all;
}

@media screen and (min-width: 768px) {
  .advice-item i {
    transform: scale(2.2);
  }
}

@media screen and (min-width: 1025px) {
  .advice-item i {
    transform: scale(1.5);
  }
}

.advice-item i:active {
  transform: scale(1.8);
  transition: 0.2s;
}

.advice-item i:hover {
  color: green;
}

.login,
.signup {
  margin-top: 50vw;
}

@media screen and (min-width: 768px) {
  .login,
  .signup {
    margin-top: 40vw;
  }
}

@media screen and (min-width: 1025px) {
  .login,
  .signup {
    margin-top: 4vw;
  }
}

.login input {
  height: 4vw;
}

@media screen and (min-width: 768px) {
  .login,
  input {
    height: 1.4vw;
  }
}

@media screen and (min-width: 1025px) {
  .login,
  input {
    height: unset;
  }
}

.login label,
.signup label {
  margin-bottom: 0.5vw;
}

.login input,
.signup input {
  border: 0.2rem solid black;
  border-radius: 1.5vw;
  box-shadow: 0.4vw 0.4vw 0.5vw gray;
}

@media screen and (min-width: 1025px) {
  .login input,
  .signup input {
    border-radius: 0.5vw;
    height: 1.7vw;
  }
}

form button {
  border: 0.5rem solid black;
  border-radius: 0.5vw;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0.4vw 0.4vw 0.5vw gray;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

form button {
  transition: 0.2s;
}

form button:active {
  transform: scale(1.2);
  transition: 0.2s;
}

.Add-advice {
  padding-top: 50vw;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .Add-advice {
    padding-top: 40vw;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice {
    padding-top: 2vh;
    font-size: unset;
  }
}

.Add-advice input {
  height: 8vw;
  width: 70vw;
  border: 0.2rem solid black;
  border-radius: 0.5vw;
  box-shadow: 0.4vw 0.4vw 0.5vw gray;
  padding-left: 1.5vw;
}

@media screen and (min-width: 768px) {
  .Add-advice input {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice input {
    height: 2vw;
    width: 20vw;
    padding-left: 0.5vw;
    font-size: 1vw;
  }
}

@media screen and (min-width: 768px) {
  .Add-advice button {
    font-size: 3vw;
    width: 25vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice button {
    width: unset;
    font-size: 1vw;
  }
}

.Add-advice form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin-bottom: 3.5vw;
  padding-left: 0.5vw;
}

@media screen and (min-width: 768px) {
  .Add-advice form {
    width: 15vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice form {
    width: 20vw;
  }
}

.Add-advice form > div {
  margin-bottom: 3.5vw;
  flex: 1 0 100%;
}

@media screen and (min-width: 768px) {
  .Add-advice form > div {
    margin-bottom: 3.5vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice form > div {
    margin-bottom: 1.5vw;
  }
}

.Add-advice form > div:nth-child(4) {
  margin-bottom: 0;
}

.categoriesInputs {
  display: flex;
  align-items: center;
}

.addedCategoriesDiv {
  margin-top: 4vw;
  display: flex;
  min-height: 8vw;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .addedCategoriesDiv {
    min-height: 5vw;
  }
}

@media screen and (min-width: 1025px) {
  .addedCategoriesDiv {
    margin-top: 1vw;
    min-height: 3vw;
  }
}

.addedCategoriesDiv span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vw;
  background: rgb(120, 71, 175);
  height: 5vw;
  color: white;
  margin: 0.5vw;
  padding: 1vw 2vw;
}

@media screen and (min-width: 768px) {
  .addedCategoriesDiv span {
    height: 2vw;
  }
}

@media screen and (min-width: 1025px) {
  .addedCategoriesDiv span {
    height: 1.5vw;
    border-radius: 0.5vw;
    padding: 0.2vw 0.5vw;
    margin: 0.2vw 0.3vw;
  }
}

.Add-advice .addCategoryButton {
  width: 10vw;
  height: 10vw;
  background: rgb(118, 93, 141);
  color: white;
  border: 0;
  font-size: 5vw;
}

@media screen and (min-width: 768px) {
  .Add-advice .addCategoryButton {
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice .addCategoryButton {
    width: 2.6vw;
    height: 2.6vw;
    font-size: 1.7vw;
  }
}

.Add-advice input.addedCategoriesInput {
  width: 59vw;
  margin-right: 1vw;
}

@media screen and (min-width: 768px) {
  .Add-advice input.addedCategoriesInput {
    width: 61vw;
    margin-right: 1vw;
  }
}

@media screen and (min-width: 1025px) {
  .Add-advice input.addedCategoriesInput {
    width: 17vw;
    margin-right: 0.4vw;
  }
}

.Add-advice input.addCategoryButton {
  width: 15%;
  border-radius: 50%;
}

.deleteDiv {
  display: flex;
}

.deleteDiv button {
  margin-left: auto;
  margin-top: 4vw;
  margin-right: 10vw;
  height: 8vw;
  width: 20vw;
  background: rgb(177, 8, 8);
  color: white;
  border-radius: 1vw;
  border: 0.1vw solid black;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 7vw;
}

@media screen and (min-width: 768px) {
  .deleteDiv button {
    height: 4vw;
    width: 10vw;
    margin-bottom: 3vw;
  }
}

@media screen and (min-width: 1025px) {
  .deleteDiv button {
    margin-top: 0vw;
    margin-right: 4.8vw;
    height: 2.5vw;
    width: 8vw;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    margin-bottom: 0vw;
  }
}

.deleteDiv button:hover {
  opacity: 0.7;
  transition: 0.3s;
}
